{% import "_includes/forms" as forms %}

<div class="flexContainer">
    {{ forms.dateTimeField({
        label: 'translate.events.fields.eventStart' | t('eventsky'),
        id: 'startDate',
        name: 'startDate',
        value: event.startDate,
        errors: event.getErrors('startDate')
    }) }}

    {{ forms.dateTimeField({
        label: 'translate.events.fields.eventEnd' | t('eventsky'),
        id: 'endDate',
        name: 'endDate',
        value: event.endDate,
        errors: event.getErrors('endDate')
    }) }}
</div>
