{% extends "_layouts/elementindex" %}

{% set selectedSubnavItem = 'events' %}
{% set title = "translate.events.title" | t('eventsky') %}
{% set elementType = 'fredmansky\\eventsky\\elements\\Event' %}

{% block actionButton %}
    {% if eventTypes %}
        <a href="{{ url('eventsky/event/new') }}" class="btn submit add icon">{{ "translate.event.new" | t('eventsky') }}</a>
    {% else %}
        Create at least one event type first.
    {% endif %}
{% endblock %}
