.editEvent {
  .flexContainer {
    @media (min-width: 500px) {
      display: flex;

      &:not(:first-of-type) {
        margin-top: 24px;
      }

      > * {
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 142px;

        &:not(:first-child) {
          margin-left: 24px;
        }
      }

      .field {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .visually-hidden {
    visibility: hidden;
  }

  .titlebar {
    padding-left: 14px !important;
  }
}