{% import "_includes/forms" as forms %}

<div id="fields">
    {{ forms.textField({
        first: true,
        label: "Title"|t('app'),
        instructions: "What this ticket will be called in the CP."|t('app'),
        id: 'title',
        name: 'title',
        value: ticket.title,
        errors: ticket.getErrors('title'),
        autofocus: true,
        maxlength: 250,
        required: true,
    }) }}

    <div>
        {% set tabs = ticketType.getFieldLayout().getTabs() %}
        <div id="tabTicketData">
            {% include "eventsky/tickets/_tabTicketData" %}
        </div>
        {% for tab in tabs %}
            <div id="{{ ('tab' ~ tab.name) | camel }}" class="hidden">
                {% include "_includes/fields" with {
                    fields: tab.getFields(),
                    element: ticket,
                } only %}
            </div>
        {% endfor %}
    </div>
</div>