{% import "_includes/forms" as forms %}

{% set namespace = namespace is defined ? namespace : 'fields' %}

<div id="fields">

    {% if not ticketType.titleFormat %}
        {{ forms.textField({
            first: true,
            label: "Title"|t('app'),
            instructions: "What this ticket will be called in the CP."|t('app'),
            id: 'title',
            name: 'title',
            value: ticket.title,
            errors: ticket.getErrors('title'),
            autofocus: true,
            maxlength: 250,
            required: true,
        }) }}
    {% endif %}

    <div>
        {% set fieldLayout = ticketType.getFieldLayout() %}
        {% set tabs = fieldLayout.getTabs() %}

        <div id="tabTicketData">
            {% include "eventsky/tickets/_tabTicketData" %}
        </div>

        {% for tab in tabs %}
            <div id="{{ 'tab' ~ tab.name | pascal }}" class="hidden">
                {% for customField in tab.getElements() %}
                    {% set field = customField.getField() %}

                    {% namespace namespace %}
                        {% include "_includes/field" with {
                            field: field,
                            required: field.required,
                            element: ticket,
                        } only %}
                    {% endnamespace %}

                {% endfor %}
            </div>
        {% endfor %}

    </div>
</div>