{% extends "_layouts/elementindex" %}

{% set selectedSubnavItem = 'tickets' %}
{% set title = "translate.tickets.title" | t('eventsky') %}
{% set elementType = 'fredmansky\\eventsky\\elements\\Ticket' %}

{% block actionButton %}
    {% if ticketTypes and ticketStatuses and events %}
        <a href="{{ url('eventsky/ticket/new') }}" class="btn submit add icon">{{ "translate.tickets.new" | t('eventsky') }}</a>
    {% elseif ticketTypes and events %}
        Create at least one ticket status first.
    {% elseif ticketStatuses and events %}
        Create at least one ticket type first.
    {% elseif ticketTypes and ticketStatuses %}
        Create at least one event first.
    {% else %}
        Create at least one ticket type, one ticket status and one event first.
    {% endif %}
{% endblock %}
