{% extends "_layouts/elementindex" %}

{% set selectedSubnavItem = 'tickets' %}
{% set title = "translate.tickets.title" | t('eventsky') %}
{% set elementType = 'fredmansky\\eventsky\\elements\\Ticket' %}

{% block actionButton %}
    {% if ticketTypes and ticketStatuses %}
        <a href="{{ url('eventsky/ticket/new') }}" class="btn submit add icon">{{ "translate.tickets.new" | t('eventsky') }}</a>
    {% elseif ticketTypes %}
        Create at least one ticket status first.
    {% elseif ticketStatuses %}
        Create at least one ticket type first.
    {% else %}
        Create at least one ticket type and one ticket status first.
    {% endif %}
{% endblock %}
