{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'ticketTypes' %}
{% set title = "translate.ticketTypes.title" | t('eventsky') %}
{% set elementType = 'fredmansky\\eventsky\\elements\\TicketType' %}

{% block actionButton %}
    <a href="{{ url('ticketTypes/new') }}" class="btn submit add icon">{{ "New ticket type"|t('app') }}</a>
    {{ parent() }}
{% endblock %}